body { 
  margin:0px; 
  padding:5px; 
  background:#CAD8E2; 
  color:#000;
  font-family:Arial,Helvetica,sans-serif;
}
a:link { color:#464E47; text-decoration:none; }
a:visited { color:#464E47; text-decoration:none; }
a:hover { color:#464E47; }
a.active { color:#568259; }

.main {
  width:100%;
  height:100%;
  overflow-y:scroll;
}

.navigation {
  padding:10pt;
  line-height: 150%;
  float:left;
  position:fixed;
}

.navigation ul {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: #45503b;
}

.content {
  padding:15px;
  min-height:100%;
  max-width:1024px;
  min-width:600px;
  margin-left:250px;
  margin-right:250px;
  background:#F1FFFA;
}

.content ul li {
  margin:10pt
}

td.date {
  font-weight:bold;
}

table, th, td {
  border:1px solid gray;
  border-spacing:0px;
}

th, td {
  padding:5px;
}

